*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}      

body {
    background-color: black;
}

.header {
 
    width:100%;
    margin: 0px;
    margin-bottom:20px;
    padding: 10px;
    padding-bottom: 0px;
    background-color:darkgoldenrod;
    text-align: right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    color:yellow;
}
.title-one{
    text-align: center;
}
 
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }


#resource-button{
    background-color: yellow;
    opacity:50%;
}
    

.container1{
    position:absolute;
    margin-left:30px;
    width:40%;
    
}
.image1{
    position:absolute;
    margin-top:0px;
}

.text-block1{
    position:absolute;
    width: 40%;
    margin:5px;
    background-color:goldenrod;
    color:cornsilk;
    padding:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.container2{
    position:absolute;
    left:800px;
    bottom:10px;
    margin-bottom:20px;
}

.text-block2{
    position:relative;
    width:40%;
    margin:15px;
    margin-right:20px;
    background-color:goldenrod;
    color:cornsilk;
    padding:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.image2{
    position:absolute;


}