
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

:root{
    --cornsilk: cornsilk;
    --goldenrod: goldenrod;
    --black: black;
    --yellow: yellow;
}

.body {
    background-color: var(--black);
    margin-right:-60px; 
    flex-wrap:wrap
}

.header {
 
    max-width:100%;
    margin: 0px;
    margin-bottom:20px;
    padding: 25px;
    padding-bottom: 0px;
    background-color: var(--goldenrod);
    text-align: right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    color:var(--cornsilk);
}

span{
<<<<<<< Updated upstream
    margin-right: 100px;
=======
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:20px;
    margin-right:150px;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
}

h1{
text-align: center;
}

 
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cornsilk);
    color: var(--yellow);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
    

.container1{
    position:absolute;
    margin-left:30px;
    width:100%;
    
}
.image1{
    position:absolute;
    margin-top:5px;
    padding:5px;
    background-color: var(--goldenrod);
}

.text-block1{
    position:absolute;
    width: 40%;
    margin:5px;
    background-color: var(--goldenrod);
    color: var(--cornsilk);
    padding:20px;
<<<<<<< Updated upstream
=======
    background-color: var(--black);
    border: 5px solid var(--goldenrod);
    border-left:0px;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.picture-me{

max-width: 300px;
height:500px;
background-size:cover;
float:right;
margin-right:250px;
padding:5px;
background-color: var(--goldenrod);
filter:grayscale(100%);
-webkit-filter: grayscale(100%);
-webkit-transition: all 1s ease;

}

.picture-me:hover{

    filter:grayscale(0%);
    filter:gray;
    -webkit-filter: grayscale(0%);
    filter:none;
    transition: 1s ease;
}

.container2{
    position:absolute;
    margin-left:30px;
    margin-top:600px;
    width:100%;
    
}

.text-block2{
    position:absolute;
    width:40%;
    margin:5px;
<<<<<<< Updated upstream
    background-color: var(--goldenrod);
=======
    padding:20px;
    background-color: var(--black);
    border: 5px solid var(--goldenrod);
    border-left:0px;
<<<<<<< Updated upstream
>>>>>>> Stashed changes
=======
>>>>>>> Stashed changes
    color: var(--cornsilk);
    padding:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.image2{
    position:absolute;
    margin-top:5px;
    padding:5px;
    background-color: var(--goldenrod);


}


.text-block3{
<<<<<<< Updated upstream
<<<<<<< Updated upstream
    position:absolute;
    width:100%;
    margin-top:600px;
=======
=======
>>>>>>> Stashed changes
    position:absolute center;
    margin-top:400px;
>>>>>>> Stashed changes
    background-color: var(--goldenrod);
    color: var(--cornsilk);
    padding:5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    text-align:center;
}