
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

:root{
    --cornsilk: cornsilk;
    --goldenrod: goldenrod;
    --black: black;
}

body {
    background-color: var(--black);
}

.header {
 
    width:100%;
    margin: 0px;
    margin-bottom:20px;
    padding: 10px;
    padding-bottom: 0px;
    background-color: var(--goldenrod);
    text-align: right;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:x-large;
    color:var(--cornsilk);
}

h1{
text-align: center;
}

.title-one{
    text-align: center;
}
 
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--cornsilk);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
    

.container1{
    position:absolute;
    margin-left:30px;
    width:100%;
    
}
.image1{
    position:absolute;
    margin-top:5px;
    padding:5px;
    background-color: var(--goldenrod);
}

.text-block1{
    position:absolute;
    width: 40%;
    margin:5px;
    background-color: var(--goldenrod);
    color: var(--cornsilk);
    padding:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.container2{
    position:absolute;
    margin-left:30px;
    margin-top:600px;
    width:100%;
}

.text-block2{
    position:absolute;
    width:40%;
    margin:5px;
    background-color: var(--goldenrod);
    color:cornsilk;
    padding:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}

.image2{
    position:absolute;
    margin-top:5px;
    padding:5px;
    background-color: var(--goldenrod);


}